In [30]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Activation, UpSampling2D, InputLayer
from keras import losses
import tensorflow as tf

In [31]:
train = pd.read_csv("autoencoders.tar/train/train_data.csv", sep=",")
train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,147.0,255.0,246.0,249.0,249.0,249.0,249.0,249.0,249.0,249.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,106.0,209.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,245.0,244.0,243.0,247.0,253.0,255.0,253.0,250.0,232.0,193.0
2,0.0,0.0,14.0,33.0,68.0,101.0,109.0,120.0,122.0,109.0,...,49.0,22.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,...,74.0,6.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0
4,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,103.0,29.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0

In [34]:
train_labels = pd.read_csv("autoencoders.tar/train/train_labels.csv", sep=",")
train_labels.head(5)

   0
0  5
1  8
2  8
3  6
4  3

In [35]:
test = pd.read_csv("autoencoders.tar/test/test_data.csv", sep=",")
test.head(5)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,234.0,255.0,255.0,254.0,255.0,255.0,255.0,255.0,255.0,255.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,112.0,157.0,225.0,255.0,254.0,255.0,255.0,255.0,255.0,254.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,16.0,61.0,92.0,...,250.0,250.0,250.0,250.0,250.0,250.0,250.0,251.0,255.0,255.0
4,1.0,0.0,4.0,126.0,163.0,206.0,255.0,254.0,255.0,234.0,...,2.0,133.0,165.0,226.0,255.0,253.0,255.0,214.0,163.0,101.0

In [17]:
test_labels = pd.read_csv("autoencoders.tar/test/test_labels.csv", sep=",")
test_labels.head(5)

   0
0  3
1  5
2  9
3  2
4  7

In [36]:
sc = MinMaxScaler()
train = sc.fit_transform(train)
train

sc = MinMaxScaler()
test = sc.fit_transform(test)
test

array([[0.91764706, 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.43921569, 0.61568627, 0.88235294, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.55686275, 0.55686275, 0.55686275, ..., 1.        , 0.98039216,
        0.97254902],
       [0.84705882, 1.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.88235294, 1.        , 1.        , ..., 1.        , 1.        ,
        0.89411765]])

In [63]:
#sc = MinMaxScaler()
#train_labels = sc.fit_transform(train_labels)
#train_labels

C:\Users\Dell\Anaconda3\envs\tensorflow\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

array([[0.55555556],
       [0.88888889],
       [0.88888889],
       ...,
       [0.33333333],
       [0.66666667],
       [0.22222222]])

In [70]:
#sc = MinMaxScaler()
#test_labels = sc.fit_transform(test_labels)
#test_labels

array([[0.33333333],
       [0.55555556],
       [1.        ],
       ...,
       [0.88888889],
       [0.33333333],
       [0.77777778]])

In [37]:
train_data = np.reshape(train, (60000,28,28,1))
train_data.shape

(60000, 28, 28, 1)

In [38]:
test_data = np.reshape(test, (10000,28,28,1))
test_data.shape

(10000, 28, 28, 1)

In [39]:
train_labels1 = np.ravel(train_labels)
train_labels1.shape

(60000,)

In [40]:
test_labels1 = np.ravel(test_labels)
test_labels1.shape

(10000,)

In [41]:
model = Sequential()


#0 convolution layer
#tf.keras.layers.Input(shape=(28, 28, 1))
#model.add(InputLayer(input_tensor=inputp, input_shape=input_shape))
#model.add(InputLayer(input_shape=(28, 28, 1)))

#1st convolution layer
model.add(Conv2D(32, (3, 3) #32 is number of filters and (3, 3) is the size of the filter.
, padding='same', activation="relu", input_shape=(28,28,1)))
model.add(MaxPooling2D(pool_size=(2,2), padding='same'))
 
#2nd convolution layer
model.add(Conv2D(64,(3, 3), padding='same', activation="relu")) # apply 64 filters sized of (3x3)
model.add(MaxPooling2D(pool_size=(2,2), padding='same'))

#3rd convolution layer
model.add(Conv2D(128,(3, 3), padding='same', activation="relu")) # apply 128 filters sized of (3x3)

#4rd convolution layer
model.add(Conv2D(128,(3, 3), padding='same', activation="relu")) # apply 128 filters sized of (3x3)
model.add(UpSampling2D((2, 2)))

#5th convolution layer
model.add(Conv2D(64,(3, 3), padding='same', activation="relu"))
model.add(UpSampling2D((2, 2)))

#6th convolution layer
model.add(Conv2D(1, (3, 3), padding='same', activation="relu"))
model.add(Activation('sigmoid'))

In [42]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_31 (Conv2D)           (None, 28, 28, 32)        320
_________________________________________________________________
max_pooling2d_11 (MaxPooling (None, 14, 14, 32)        0
_________________________________________________________________
conv2d_32 (Conv2D)           (None, 14, 14, 64)        18496
_________________________________________________________________
max_pooling2d_12 (MaxPooling (None, 7, 7, 64)          0
_________________________________________________________________
conv2d_33 (Conv2D)           (None, 7, 7, 128)         73856
_________________________________________________________________
conv2d_34 (Conv2D)           (None, 7, 7, 128)         147584
_________________________________________________________________
up_sampling2d_11 (UpSampling (None, 14, 14, 128)       0
_________________________________________________________________
conv2d_35 (Conv2D)           (None, 14, 14, 64)        73792
_________________________________________________________________
up_sampling2d_12 (UpSampling (None, 28, 28, 64)        0
_________________________________________________________________
conv2d_36 (Conv2D)           (None, 28, 28, 1)         577
_________________________________________________________________
activation_10 (Activation)   (None, 28, 28, 1)         0
=================================================================
Total params: 314,625
Trainable params: 314,625
Non-trainable params: 0
_________________________________________________________________

In [43]:
model.compile(optimizer='RMSProp', 
loss="MSE", 
metrics=['accuracy'])

In [29]:
history=model.fit(train_data, train_data, batch_size = 128, epochs=1, validation_split=0.1)

Train on 54000 samples, validate on 6000 samples
Epoch 1/1
  256/54000 [..............................] - ETA: 1:49:21 - loss: 0.2099 - acc: 0.3729

KeyboardInterrupt: